*{
    font-family:"Roboto",sans-serif;
}
body{
    background-image:url(back2.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 200%;

}
.interior{
    text-align: center;
    font-style: italic;
}
.para{
    margin-left: 20px;
    font-size: larger;
    line-height: 30px;
}

.house{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 30px 30px 30px;
    
}

.smart{
    height: 250px;
    width: 250px;
      padding: 40px 40px 40px 40px; 
      border-radius: 100%;
}
.modern{
     height: 250px;
    width: 250px;
     padding: 40px 40px 40px 40px;
      border-radius: 100%;
}
.simple{
     height: 250px;
    width: 250px;
     padding: 40px 40px 40px 40px;
    border-radius: 100%;

}
.wood{
      height: 250px;
    width: 250px;
     padding: 40px 40px 40px 40px;
      border-radius: 100%;
}

.main-sub{
     display:inline-block;
     width:300px;
     height:450px;
     justify-content: space-between;
     border-width:500px;
     border-bottom: 30px;
    
     text-align:center ;
   
}